.wrapper {
    background-color: green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    >header {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        background-color: red;
        
        >img{
            width: 10vh;
        }
    }
    >main {
        flex-grow: 1;
        background-color: yellow;
    }
    >footer {
        flex-shrink: 0;
        background-color: blue;
    }
}