.wrapper {
    background-color: green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    //线性背景色
    background: linear-gradient(to bottom,#4cbfec,#6d88d8);
    >header {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        
        
        >img{
            width: 10vh;
        }
    }
    >main {
        flex-grow: 1;
        
    }
    >footer {
        flex-shrink: 0;
        
    }
}